/***IMPORTAR FUENTES***/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

header{
    background-color: red;
}

header h1{
    text-align: center;
    font-size: 35px;
    color: #fff;
    padding: 30px 0
}

.container{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}

.container .container-hamburguesas{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 60%;
    transition: .3s;
}

.container .container-hamburguesas .producto{
    max-width: 200px;
    padding: 10px;
    margin: auto;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.container-hamburguesas .producto:hover{
    box-shadow: 0 0 10px #ff0000;
    scale: 1.05;
}

.container-hamburguesas .producto .img-item{
    width: 100%;
}

.container-hamburguesas .producto .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.container-hamburguesas .producto .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.container-hamburguesas .producto .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background: red;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor:pointer;
}

/***CARRITO DE COMPRAS***/

.carrito{
    border: 2px solid #ff0000;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
}

.carrito .header-carrito{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #ff0000;
    padding: 20px;
}

.carrito .carrito-item img{
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ff0000;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ff0000;
    cursor: pointer;
    display: block;
    background: #ff0000;
}

.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #ff0000;
    padding: 20px;
}

.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: white;
    color: #ff0000;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/***SECCION RESPONSIVE***/

@media screen and (max-width:850px) {
    .container{
        display: block;
    }
    .container-hamburguesas{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
}